USE [NikahDB]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NULL,
	[password_hash] [varchar](255) NULL,
	[email] [varchar](150) NULL,
	[role] [int] NULL,
	[last_login] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[approval_status]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[approval_status](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NULL,
	[action_type] [int] NULL,
	[affected_user_id] [int] NULL,
	[action_timestamp] [datetime] NULL,
	[details] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[children_preference]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[children_preference](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diet_preferences]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diet_preferences](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genders]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genders](
	[ID] [int] NOT NULL,
	[Name] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interests]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interests](
	[interest_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[interest_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[interest_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marital_status]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marital_status](
	[id] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[notification_type] [int] NULL,
	[notification_text] [text] NULL,
	[is_read] [bit] NULL,
	[sent_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_status]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_status](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[photo_verification_status]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[photo_verification_status](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[preferences]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preferences](
	[preference_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[min_age] [int] NULL,
	[max_age] [int] NULL,
	[height_range] [varchar](10) NULL,
	[marital_status] [int] NULL,
	[religion] [varchar](50) NULL,
	[children_preference] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAccountStatus]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccountStatus](
	[ID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblaction_type]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblaction_type](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblactivity_type]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblactivity_type](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEvent_type]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEvent_type](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbllocations]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbllocations](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[latitude] [decimal](9, 6) NULL,
	[longitude] [decimal](9, 6) NULL,
	[city] [varchar](100) NULL,
	[state] [varchar](100) NULL,
	[country] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblmatches]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblmatches](
	[match_id] [int] IDENTITY(1,1) NOT NULL,
	[user_1_id] [int] NULL,
	[user_2_id] [int] NULL,
	[match_score] [decimal](5, 2) NULL,
	[match_date] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[match_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblmessage_type]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblmessage_type](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblmessages]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblmessages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NULL,
	[receiver_id] [int] NULL,
	[message_text] [text] NULL,
	[message_type_id] [int] NULL,
	[sent_at] [datetime] NULL,
	[is_read] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblnotification_type]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblnotification_type](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblpayment_method]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblpayment_method](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblphotos]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblphotos](
	[photo_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[photo_url] [varchar](255) NULL,
	[is_profile_picture] [bit] NULL,
	[uploaded_at] [datetime] NULL,
	[approval_status_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[photo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblprofiles]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblprofiles](
	[profile_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[religion] [varchar](50) NULL,
	[caste] [varchar](50) NULL,
	[height] [varchar](10) NULL,
	[weight] [varchar](10) NULL,
	[occupation] [varchar](100) NULL,
	[annual_income] [decimal](10, 2) NULL,
	[about_me] [text] NULL,
	[marital_status_id] [int] NULL,
	[children_preference_id] [int] NULL,
	[diet_preferences_id] [int] NULL,
	[partner_preferences] [text] NULL,
	[photo_verification_status_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoles](
	[ID] [int] NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatus](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblsubscriptions]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblsubscriptions](
	[subscription_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[plan_name] [varchar](100) NULL,
	[plan_duration] [int] NULL,
	[plan_price] [decimal](10, 2) NULL,
	[start_date] [datetime] NULL,
	[end_date] [timestamp] NOT NULL,
	[payment_status] [int] NULL,
	[payment_method] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[subscription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbluser_events]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbluser_events](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[event_type] [int] NULL,
	[event_details] [text] NULL,
	[event_timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](100) NULL,
	[last_name] [varchar](100) NULL,
	[gender] [int] NOT NULL,
	[date_of_birth] [date] NULL,
	[email] [varchar](150) NOT NULL,
	[phone] [varchar](15) NULL,
	[address] [text] NULL,
	[password_hash] [varchar](255) NULL,
	[account_status] [int] NOT NULL,
	[role] [int] NOT NULL,
	[last_login] [timestamp] NOT NULL,
	[email_verified] [bit] NULL,
	[phone_verified] [bit] NULL,
	[created] [datetime] NOT NULL,
	[updated] [datetime] NOT NULL,
	[createdby] [varchar](50) NULL,
	[updatedby] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_activities]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_activities](
	[activity_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[activity_type] [int] NULL,
	[activity_details] [text] NULL,
	[activity_timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_events]    Script Date: 15-03-2025 13:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_events](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[event_type] [int] NULL,
	[event_details] [text] NULL,
	[event_timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[approval_status] ([id], [name]) VALUES (2, N'Approved')
INSERT [dbo].[approval_status] ([id], [name]) VALUES (1, N'Pending')
INSERT [dbo].[approval_status] ([id], [name]) VALUES (3, N'Rejected')
GO
INSERT [dbo].[children_preference] ([id], [name]) VALUES (3, N'Maybe')
INSERT [dbo].[children_preference] ([id], [name]) VALUES (2, N'No')
INSERT [dbo].[children_preference] ([id], [name]) VALUES (1, N'Yes')
GO
INSERT [dbo].[diet_preferences] ([id], [name]) VALUES (4, N'Any')
INSERT [dbo].[diet_preferences] ([id], [name]) VALUES (2, N'Non-Vegetarian')
INSERT [dbo].[diet_preferences] ([id], [name]) VALUES (3, N'Vegan')
GO
INSERT [dbo].[genders] ([ID], [Name]) VALUES (1, N'Male')
INSERT [dbo].[genders] ([ID], [Name]) VALUES (2, N'Female')
INSERT [dbo].[genders] ([ID], [Name]) VALUES (3, N'Other')
GO
INSERT [dbo].[marital_status] ([id], [status]) VALUES (2, N'Divorced')
INSERT [dbo].[marital_status] ([id], [status]) VALUES (4, N'Seperated')
INSERT [dbo].[marital_status] ([id], [status]) VALUES (1, N'Single')
GO
INSERT [dbo].[payment_status] ([id], [name]) VALUES (3, N'Failed')
INSERT [dbo].[payment_status] ([id], [name]) VALUES (2, N'Paid')
INSERT [dbo].[payment_status] ([id], [name]) VALUES (1, N'Pending')
GO
INSERT [dbo].[photo_verification_status] ([id], [name]) VALUES (2, N'Approved')
INSERT [dbo].[photo_verification_status] ([id], [name]) VALUES (1, N'Pending')
INSERT [dbo].[photo_verification_status] ([id], [name]) VALUES (3, N'Rejected')
GO
INSERT [dbo].[tblAccountStatus] ([ID], [Name]) VALUES (1, N'Active')
INSERT [dbo].[tblAccountStatus] ([ID], [Name]) VALUES (2, N'Suspended')
INSERT [dbo].[tblAccountStatus] ([ID], [Name]) VALUES (3, N'Deactivated')
GO
INSERT [dbo].[tblaction_type] ([id], [name]) VALUES (4, N'Message Flagged')
INSERT [dbo].[tblaction_type] ([id], [name]) VALUES (2, N'Profile Approved')
INSERT [dbo].[tblaction_type] ([id], [name]) VALUES (3, N'Subscription Updated')
GO
INSERT [dbo].[tblactivity_type] ([id], [name]) VALUES (1, N'Login')
INSERT [dbo].[tblactivity_type] ([id], [name]) VALUES (5, N'Message Sent')
INSERT [dbo].[tblactivity_type] ([id], [name]) VALUES (3, N'Photo Upload')
GO
INSERT [dbo].[tblEvent_type] ([id], [name]) VALUES (2, N'Like')
INSERT [dbo].[tblEvent_type] ([id], [name]) VALUES (3, N'Message Sent')
INSERT [dbo].[tblEvent_type] ([id], [name]) VALUES (4, N'Profile Updated')
GO
INSERT [dbo].[tblmessage_type] ([id], [name]) VALUES (4, N'Audio')
INSERT [dbo].[tblmessage_type] ([id], [name]) VALUES (2, N'Image')
INSERT [dbo].[tblmessage_type] ([id], [name]) VALUES (1, N'Text')
GO
INSERT [dbo].[tblnotification_type] ([id], [name]) VALUES (4, N'Event')
INSERT [dbo].[tblnotification_type] ([id], [name]) VALUES (2, N'Match')
INSERT [dbo].[tblnotification_type] ([id], [name]) VALUES (1, N'Message')
GO
INSERT [dbo].[tblpayment_method] ([id], [name]) VALUES (3, N'Bank Transfer')
INSERT [dbo].[tblpayment_method] ([id], [name]) VALUES (1, N'Credit Card')
INSERT [dbo].[tblpayment_method] ([id], [name]) VALUES (4, N'Other')
GO
INSERT [dbo].[tblRoles] ([ID], [RoleName]) VALUES (1, N'User')
INSERT [dbo].[tblRoles] ([ID], [RoleName]) VALUES (2, N'Admin')
INSERT [dbo].[tblRoles] ([ID], [RoleName]) VALUES (3, N'SuperAdmin')
GO
INSERT [dbo].[tblStatus] ([id], [name]) VALUES (2, N'Accepted')
INSERT [dbo].[tblStatus] ([id], [name]) VALUES (1, N'Pending')
INSERT [dbo].[tblStatus] ([id], [name]) VALUES (3, N'Rejected')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__admins__AB6E616443C197C3]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[admins] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__admins__F3DBC57261C91A50]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[admins] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__approval__72E12F1B7FCFBD8A]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[approval_status] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__children__72E12F1B95EF28EA]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[children_preference] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__diet_pre__72E12F1BB9877363]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[diet_preferences] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__marital___A858923C47468604]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[marital_status] ADD UNIQUE NONCLUSTERED 
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__payment___72E12F1BA565D53A]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[payment_status] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__photo_ve__72E12F1BFA66F6DB]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[photo_verification_status] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblactio__72E12F1B212639CB]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[tblaction_type] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblactiv__72E12F1BFBFEFA9D]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[tblactivity_type] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblEvent__72E12F1B60C6CB4E]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[tblEvent_type] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__message___72E12F1B3B0D8E2C]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[tblmessage_type] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblnotif__72E12F1B39E2F402]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[tblnotification_type] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblpayme__72E12F1BDBCA5019]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[tblpayment_method] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblStatu__72E12F1BE609C512]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[tblStatus] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblUsers__AB6E616456CF4978]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[tblUsers] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblUsers__B43B145F500E6A55]    Script Date: 15-03-2025 13:42:15 ******/
ALTER TABLE [dbo].[tblUsers] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT ((2)) FOR [role]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT (getdate()) FOR [last_login]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (getdate()) FOR [action_timestamp]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((1)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[tblmatches] ADD  DEFAULT ((0.00)) FOR [match_score]
GO
ALTER TABLE [dbo].[tblmatches] ADD  DEFAULT (getdate()) FOR [match_date]
GO
ALTER TABLE [dbo].[tblmatches] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[tblmessages] ADD  DEFAULT ((1)) FOR [message_type_id]
GO
ALTER TABLE [dbo].[tblmessages] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[tblmessages] ADD  DEFAULT ((1)) FOR [is_read]
GO
ALTER TABLE [dbo].[tblphotos] ADD  DEFAULT ((1)) FOR [is_profile_picture]
GO
ALTER TABLE [dbo].[tblphotos] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[tblsubscriptions] ADD  DEFAULT (getdate()) FOR [start_date]
GO
ALTER TABLE [dbo].[tblsubscriptions] ADD  DEFAULT ((1)) FOR [payment_status]
GO
ALTER TABLE [dbo].[tbluser_events] ADD  DEFAULT (getdate()) FOR [event_timestamp]
GO
ALTER TABLE [dbo].[tblUsers] ADD  DEFAULT ((1)) FOR [email_verified]
GO
ALTER TABLE [dbo].[tblUsers] ADD  DEFAULT ((1)) FOR [phone_verified]
GO
ALTER TABLE [dbo].[tblUsers] ADD  CONSTRAINT [DF_tblUsers_created]  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[tblUsers] ADD  CONSTRAINT [DF_tblUsers_updated]  DEFAULT (getdate()) FOR [updated]
GO
ALTER TABLE [dbo].[user_activities] ADD  DEFAULT (getdate()) FOR [activity_timestamp]
GO
ALTER TABLE [dbo].[user_events] ADD  DEFAULT (getdate()) FOR [event_timestamp]
GO
ALTER TABLE [dbo].[admins]  WITH CHECK ADD FOREIGN KEY([role])
REFERENCES [dbo].[tblRoles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD FOREIGN KEY([action_type])
REFERENCES [dbo].[tblaction_type] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD FOREIGN KEY([admin_id])
REFERENCES [dbo].[admins] ([admin_id])
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD FOREIGN KEY([affected_user_id])
REFERENCES [dbo].[tblUsers] ([user_id])
GO
ALTER TABLE [dbo].[genders]  WITH CHECK ADD  CONSTRAINT [FK_genders_genders] FOREIGN KEY([ID])
REFERENCES [dbo].[genders] ([ID])
GO
ALTER TABLE [dbo].[genders] CHECK CONSTRAINT [FK_genders_genders]
GO
ALTER TABLE [dbo].[interests]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[tblUsers] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([notification_type])
REFERENCES [dbo].[tblnotification_type] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[tblUsers] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[preferences]  WITH CHECK ADD FOREIGN KEY([children_preference])
REFERENCES [dbo].[children_preference] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[preferences]  WITH CHECK ADD FOREIGN KEY([marital_status])
REFERENCES [dbo].[marital_status] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[preferences]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[tblUsers] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbllocations]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[tblUsers] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblmatches]  WITH CHECK ADD  CONSTRAINT [FK_tblmatches_tblStatus] FOREIGN KEY([status])
REFERENCES [dbo].[tblStatus] ([id])
GO
ALTER TABLE [dbo].[tblmatches] CHECK CONSTRAINT [FK_tblmatches_tblStatus]
GO
ALTER TABLE [dbo].[tblmatches]  WITH CHECK ADD  CONSTRAINT [FK_tblmatches_tblusers] FOREIGN KEY([user_2_id])
REFERENCES [dbo].[tblUsers] ([user_id])
GO
ALTER TABLE [dbo].[tblmatches] CHECK CONSTRAINT [FK_tblmatches_tblusers]
GO
ALTER TABLE [dbo].[tblmatches]  WITH CHECK ADD  CONSTRAINT [FK_tblmatches_tblusers_1] FOREIGN KEY([user_1_id])
REFERENCES [dbo].[tblUsers] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblmatches] CHECK CONSTRAINT [FK_tblmatches_tblusers_1]
GO
ALTER TABLE [dbo].[tblmessages]  WITH CHECK ADD  CONSTRAINT [FK_tblmessages_tblmessage_type] FOREIGN KEY([message_id])
REFERENCES [dbo].[tblmessage_type] ([id])
GO
ALTER TABLE [dbo].[tblmessages] CHECK CONSTRAINT [FK_tblmessages_tblmessage_type]
GO
ALTER TABLE [dbo].[tblmessages]  WITH CHECK ADD  CONSTRAINT [FK_tblmessages_tblUsers_Rec] FOREIGN KEY([receiver_id])
REFERENCES [dbo].[tblUsers] ([user_id])
GO
ALTER TABLE [dbo].[tblmessages] CHECK CONSTRAINT [FK_tblmessages_tblUsers_Rec]
GO
ALTER TABLE [dbo].[tblmessages]  WITH CHECK ADD  CONSTRAINT [FK_tblmessages_tblUsers_Send] FOREIGN KEY([sender_id])
REFERENCES [dbo].[tblUsers] ([user_id])
GO
ALTER TABLE [dbo].[tblmessages] CHECK CONSTRAINT [FK_tblmessages_tblUsers_Send]
GO
ALTER TABLE [dbo].[tblphotos]  WITH CHECK ADD FOREIGN KEY([approval_status_id])
REFERENCES [dbo].[approval_status] ([id])
GO
ALTER TABLE [dbo].[tblphotos]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[tblUsers] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblprofiles]  WITH CHECK ADD FOREIGN KEY([children_preference_id])
REFERENCES [dbo].[children_preference] ([id])
GO
ALTER TABLE [dbo].[tblprofiles]  WITH CHECK ADD FOREIGN KEY([diet_preferences_id])
REFERENCES [dbo].[diet_preferences] ([id])
GO
ALTER TABLE [dbo].[tblprofiles]  WITH CHECK ADD FOREIGN KEY([marital_status_id])
REFERENCES [dbo].[marital_status] ([id])
GO
ALTER TABLE [dbo].[tblprofiles]  WITH CHECK ADD FOREIGN KEY([photo_verification_status_id])
REFERENCES [dbo].[photo_verification_status] ([id])
GO
ALTER TABLE [dbo].[tblprofiles]  WITH CHECK ADD  CONSTRAINT [FK__tblprofil__user___5AEE82B9] FOREIGN KEY([user_id])
REFERENCES [dbo].[tblUsers] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblprofiles] CHECK CONSTRAINT [FK__tblprofil__user___5AEE82B9]
GO
ALTER TABLE [dbo].[tblsubscriptions]  WITH CHECK ADD FOREIGN KEY([payment_status])
REFERENCES [dbo].[payment_status] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblsubscriptions]  WITH CHECK ADD FOREIGN KEY([payment_method])
REFERENCES [dbo].[tblpayment_method] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblsubscriptions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[tblUsers] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbluser_events]  WITH CHECK ADD FOREIGN KEY([event_type])
REFERENCES [dbo].[tblEvent_type] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbluser_events]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[tblUsers] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD  CONSTRAINT [FK_tblUsers_genders] FOREIGN KEY([gender])
REFERENCES [dbo].[genders] ([ID])
GO
ALTER TABLE [dbo].[tblUsers] CHECK CONSTRAINT [FK_tblUsers_genders]
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD  CONSTRAINT [FK_tblUsers_tblAccountStatus] FOREIGN KEY([account_status])
REFERENCES [dbo].[tblAccountStatus] ([ID])
GO
ALTER TABLE [dbo].[tblUsers] CHECK CONSTRAINT [FK_tblUsers_tblAccountStatus]
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD  CONSTRAINT [FK_tblUsers_tblRoles] FOREIGN KEY([role])
REFERENCES [dbo].[tblRoles] ([ID])
GO
ALTER TABLE [dbo].[tblUsers] CHECK CONSTRAINT [FK_tblUsers_tblRoles]
GO
ALTER TABLE [dbo].[user_activities]  WITH CHECK ADD FOREIGN KEY([activity_type])
REFERENCES [dbo].[tblactivity_type] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_activities]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[tblUsers] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_events]  WITH CHECK ADD FOREIGN KEY([event_type])
REFERENCES [dbo].[tblEvent_type] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_events]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[tblUsers] ([user_id])
ON DELETE CASCADE
GO
