.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px; */
  /* background-color: #f30a0a; */
  color: #fff;
}
/* 3D Background */
.background-3d {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  color: white;
  padding: 10px 0;
  text-align: center;
  z-index: 1000; /* Ensures the header stays on top */

  justify-content: space-between;
  padding: 20px;
  align-items: center;
  height: 10vh;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #e74a3b;
  background-image:linear-gradient(180deg,#e74a3b 10%,#be2617 100%);
  border-bottom: 1px solid #be2617;
  /* box-shadow: inset 10px 10px 50px rgba(0, 0, 0, 0.3),
              0 0 20px rgba(255, 0, 0, 0.5),
              0 0 100px rgba(255, 0, 0, 0.2); */
  perspective: 1000px; 
}

.header h1 {
  font-size: 1.8rem;
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.nav{
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-weight: 600;
    display: block;
}
.nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

.cta-button {
  background-color: #ffd700;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #ffcc00;
}

header nav ul {
  list-style: none;
  float: right;
}

header nav ul li {
  display: contents;
  /* margin-left: 20px; */
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.logo {
  font-size: 1.5em;
}

/* Menu Styling for Desktop */
ul {
  display: flex;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #f6c23e !important;
    background-image: linear-gradient(180deg, #f6c23e 10%, #dda20a 100%) !important;
    background-size: cover !important;
  border-radius: 4px;
  color: #333 !important;
  font-weight: 600;
  cursor: pointer;
}

/* Mobile Menu Styling */
.menu-toggle {
  display: none;
  background: none;
  color: #fff;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  ul {
    display: none; /* Hide menu by default on mobile */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #e74a3b;
    background-image:linear-gradient(10deg,#e74a3b 10%, #be2617 100%);
    border-bottom: 1px solid #be2617;
    perspective: 1000px;
    padding: 10px 0;
  }
  ul li .cta-button{
    margin-top: 10px;
  }

  ul.show {
    display: flex; /* Show the menu when 'show' class is added */
  }

  li {
    margin: 0;
  }

  a {
    display: block;
    padding: 10px;
    text-align: center;
  }

  .menu-toggle {
    display: block;
  }
}
