.footer {
    padding: 20px;
    text-align: center;
    background-color: #5a5c69;
    background-image: linear-gradient(180deg, #5a5c69 10%, #373840 100%);
    background-size: cover;
    color: #fff;
    height: 9vh !important;
  }