<header class="header background-3d" id="home">
    <h1>Matrimonial Connect</h1>
    <nav class="nav">
      <button class="menu-toggle">☰</button>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/profile">Profiles</a></li>
        <li><a routerLink="/faq">How it Works</a></li>
        <li><a routerLink="/profile/form">Success Stories</a></li>
        <li><a routerLink="/users">Dashboard</a></li>
        <li><button class="cta-button" mat-raised-button color="primary">Sign Up</button></li>
      </ul>
    </nav>
  </header>