<header class="header background-3d" id="home">
    <h1>Matrimonial Connect</h1>
    <nav class="nav">
      <button class="menu-toggle">☰</button>
      <ul>
        <li><a>Home</a></li>
        <li><a>Activities</a></li> 
        <li><a>Messages</a></li>
        <li><a>Search</a></li>
        <li><a>Home</a></li>
        <li><a>GO Premium</a></li> 
        <li><a>Help</a></li>
        <li><a>Alert</a></li>
        <li><a>Inbox</a></li>
        <li>
            <app-profile-menu-head></app-profile-menu-head>
        </li>      
      </ul>
    </nav>
  </header>